<h3>Call current weather data BY Country ID</h3>

<%= render 'shared/areaspline'%>
<%= render 'shared/stacked_bar_chart'%>
<%= render 'shared/pie_chart'%>
<%= render 'shared/basic_line'%>
<%= render 'shared/basic_column_chart'%>
<%= render 'shared/single_line_series'%>

